a {
    color: rgb(40, 109, 220);
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: rgb(32, 0, 119);
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    color: #5495ff;
}